@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

.conteudo-principal{
    padding: 14px;
}

.text{
    display: block;
    margin: auto;

}

.text h1, .text h2{
    margin-bottom: 20px;
}
.text p {
    margin-left: 15px;
    text-indent: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500px;
    line-height: 25px;
    text-align: justify;
}

 .imagem .irina{
   max-width: 100%;
   display: block;
   margin: auto;
}
.imagem .pequena{
    max-width: 200px;
    display: block;
    margin: auto;
}
.imagem .dan{
    display: block;
    margin: auto;
}

.video {
    position: relative;
    padding-bottom: 59%;
}
.video > iframe{
    position: absolute;
    left: 5%;
    width: 90%;
    height: 90%;
}
.mais-coisas{
    background-color: #111d24;
    padding: 20px;
    border-radius: 10px 0px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.text-mais h3{ 
    margin-bottom: 10px;
    margin-top: 10px;
}
.text-mais p{
    padding-bottom: 15px;
    margin-top: 10px;
    margin-left: 25px;
}
.text-ul ul{
    margin-left: 20px;
}
.text-ul{
    list-style-position: inside;
    margin-bottom: 10px;
    columns: 2;
}
.text-ul li{
    list-style: none;
}

footer{
    background-color: #121e25;
    padding: 13px;
}
footer > p {
    text-align: center;
    font-size: 1.2em;
}


@media screen and (min-width:1050px){
    .text,.mais-coisas{
        width: 1050px;
    }
    .text-ul{
        columns: 3;
    }
}